# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/classes/
/faceEngineYtlf/build/
/faceEngineYtlf/build/intermediates/javac/debug/classes/
/fireflyApi/build/
/fireflyApi/build/intermediates/javac/debug/classes/